	</div>
	<script type="text/javascript" src="/chartist/dist/chartist.min.js"></script>
<script type="text/javascript" src="/chart.js"></script>
	<script type="text/javascript" src="/main.js"></script>
</body>
</html>