<!-- Head file -->
<title>TinyApp</title>
<link rel="stylesheet" href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
 <style>
  #deleteForm {
    display: none;
  }
  input[type='text']{
    width:400px;
  }
  button{
    display: inline;
  }
  h3{
    display: inline;
    margin-right: 32px;
  }
</style>