<!-- Head file -->
<!DOCTYPE html>
<html>
<head>
  <title>TinyApp</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400|Timmana" rel="stylesheet"> 
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="/milligram.css">
  <link rel="stylesheet" href="/chartist/dist/chartist.min.css"> 
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="container">
  <% include _header %>
