<h1 class="title"><a href="/">TinyEarl &#128104;</a></h1>
<form id="login" method="post" action="/login"></form>
<% if(!username){ %>
		<input form="login" type="text" name="username" defaultvalue="User name">
		<button form="login">Login</button>
<% } else { %>
		<h3>Welcome, <%= username %> </h3>
		<button form="login" formaction="/logout">Logout</button>
<% } %>

