<!-- Head file -->
<title>TinyApp</title>
<link rel="stylesheet" href="http://cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
 <style>
  body{
    padding:32px;
  }
  #deleteForm {
    display: none;
  }
</style>