<section class="header row">
	<section class="column column-50 header-title">
		<h1 class="title"><a href="/">TinyEarl &#128104;</a></h1>
		<p><%= quote %></p>
	</section>
	<section class="column column-50 header-login">
		<form id="login" method="post" action="/login"></form>
		<% if(!user){ %>
				<a class="button" href="/register" title="register">Register</a>
				<a href="/login" title="login">Login</a>
		<% } else { %>
				<p><%= user.email %></p>
				<button form="login" formaction="/logout">Logout</button>
		<% } %>
	</section>
</section>