<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <h2>404 - Uh oh! Page could not be found</h2>
    <% include partials/_button %>
  </body>
</html>