<% include partials/_head %>
<!-- TODO: Make this page take a dynamic error message dependent on status -->
  <h2>Uh oh! Something went wrong.</h2>
	<% include partials/_button %>
<% include partials/_footer %>