<% include partials/_head %>
<table>
  <tr>
    <th>Original URL</th>
    <th>Shortened URL</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= longUrl %></td>
    <td><a href="/u/<%= shortenedUrl %>"><%= shortenedUrl %></a></td>
    <td>
      <input form="changeForm" name="newURL" type="text" placeholder="New URL">
      <button form="changeForm">Change URL</button>
      <!-- is hidden via css -->
      <form id="changeForm" method="post" action="/urls/<%= shortenedUrl %>"> </form>
    </td>
  </tr>
</table>
<% include partials/_button %>
<% include partials/_footer %>