<% include partials/_head %>
<h2>Url Stats</h2>
<a class="link" href="/u/<%= urls[urlId].id %>"><%= urls[urlId].id %></a>
<div class="ct-chart ct-perfect-fourth"></div>

<% include partials/_footer %>