<% include partials/_head %>
<section class="submitBox">
	<h2>Register</h2>
	<form id="registerForm" method="post" action="/register">
		<label>E-mail</label>
		<input type="email" name="email" placeholder="email">
		<label>Password</label>
		<input type="password" name="password" placeholder="password">
		<button form="registerForm">Register</button>
	</form>
</section>

<% include partials/_footer %>