<% include partials/_head %>

<form id="submitForm" action="/urls" method="POST">
  <label for="longURL">Enter a URL:</label>
  <input id="longURL" type="text" name="longURL" placeholder="http://">
  <button form="submitForm">Submit</button>
</form>
<script type="text/javascript" src="main.js"></script>

<% include partials/_footer %>