<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form id="submitForm" action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 400px">
      <button form="submitForm">Submit</button>
    </form>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>