<% include partials/_head %>
<section class="submitBox">
	<h2>Make your URL tiny</h2>
	<form id="submitForm" action="/urls" method="POST">
  	<label for="longURL">Enter a URL:</label>
  	<input id="longURL" type="text" name="longURL" placeholder="http://">
  	<button form="submitForm">Submit</button>
	</form>
</section>

<% include partials/_footer %>