<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form id="submitForm" action="/urls" method="POST">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 400px">
      <input id="submit" type="submit" value="Submit">
    </form>
    <script type="text/javascript">
      const longURL = document.querySelector("#longURL");
      const form = document.querySelector("#submitForm");

      form.addEventListener("submit", (event)=>{
        if(longURL.value === ""){
          event.preventDefault();
          if(!document.querySelector("#warning")){
            const warning = document.createElement("p");
            const strong = document.createElement("strong");
            strong.innerHTML = "Please input a valid URL.";
            warning.setAttribute("id","warning");
            warning.appendChild(strong);
            document.querySelector("form").appendChild(warning);
            
            for(const child of form.children){
              if(child.type ==="submit"){
                child.blur();
              }
            }
          }
        }
      });
    </script>
  </body>
</html>